@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Rubik:wght@500&display=swap');


html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background: rgba(240, 240, 240, 0.6);
}

@media only screen and (max-width: 767px) {
    body {
        height: auto;
    }
    .Title {
        min-height: 30vh;
        padding: 15px;
    }
    .Title h2 {
        font-size: 1.5em;
    }
    .links {
        top: 10px;
        right: 10px;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
}

.Title {
    margin: 10px;
    background: linear-gradient(to bottom, #007AFF, darkblue);
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.Title h2 {
    color: white;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 0;
}

.Title p {
    color: ghostwhite;
}

.links {
    font-family: 'Rubik', sans-serif;
    position: absolute;
    top: 15px;
    right: 20px;
    color: ghostwhite;
}

.links a {
    background-image: linear-gradient(
            to right,
            #00008BFF 50%,
            #FFFFFF 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.5s ease-in-out;
    margin-left: 20px;
    font-weight: bold;
}

a:hover {
    background-position: 0;
}

a {
    background-image: linear-gradient(
            to right,
            #00008BFF 50%,
            #000000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.5s ease-in-out;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

section#projectPortion {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

section .projectText {
    border: 1px red solid;
    width: fit-content;
    padding-left: 5px;
}

section .projectText h3, a {
    font-family: 'Rubik', sans-serif;
}

img {
    padding: 10px;
    width: 400px;
    height: 200px;
    border-radius: 20px;
}

section .tile {
    border: 1px red solid;
    background: #ffffff;
    border-radius: 20px;
    margin: 15px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(231, 231, 231, 0.96);
    bottom: 0;
    width: 100%;
    color: black;
    font-family: 'Rubik', sans-serif;
}