/* Font import goes here */

html {
    border: red 1px solid;
    margin: 10px;
    height: 100vh;
    background-color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: fit-content;
    color: white;
}

.header h1 {
    font-size: xx-large;
    margin-bottom: 10px;
}

.header p {
    margin-top: 0;
}