@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Rubik:wght@500&display=swap');

html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background: rgba(240, 240, 240, 0.6);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
}

.Heading {
    background: linear-gradient(to bottom, #007AFF, darkblue);
    text-align: center;
    min-height: 50vh; /* Use viewport height to make the div take at least 50% of the viewport height */
    display: flex; /* Use Flexbox for centering */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.Heading h2 {
    color: white;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 0;
}

.Heading p {
    color: ghostwhite;
}

.links {
    font-family: 'Rubik', sans-serif;
    position: absolute;
    top: 15px;
    right: 20px;
    color: ghostwhite;
}

.links a {
    background-image: linear-gradient(
            to right,
            #00008BFF 50%, /* Adjust the color stop to cover the entire background */
            #FFFFFF 50% /* Adjust the color stop to cover the entire background */
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.5s ease-in-out;
    margin-left: 20px;
    font-weight: bold;
}

a:hover {
    background-position: 0;
}

.Content {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 60px;
}

Section {
    font-family: 'Rubik', sans-serif;
    padding-left: 20px;
}

.Content p {
    text-align: center;
    padding-top: 25px;
    max-width: 70%;
    margin: 0 auto;
}

.bio-image img {
    border: 1px red solid;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(231, 231, 231, 0.96);
    bottom: 0;
    width: 100%;
    color: black;
    font-family: 'Rubik', sans-serif;
}


